############################
# SISTEMA OPERATIVO
############################
.DS_Store
Thumbs.db
Desktop.ini

############################
# VISUAL STUDIO / VS CODE
############################
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

############################
# UNITY - CARPETAS GENERADAS AUTOMÁTICAMENTE
############################
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

############################
# UNITY CLOUD / CACHE
############################
sysinfo.txt

############################
# AUTOGENERADOS IL2CPP
############################
il2cppOutput/

############################
# PACKAGE MANAGER
############################
# IMPORTANTE: NO ignorar packages-lock.json
# Packages/packages-lock.json

############################
# EXPORTS
############################
*.apk
*.aab
*.unitypackage
*.exe
*.app
*.ipa
*.zip

############################
# ARCHIVOS DE BACKUP
############################
*.bak
*.backup
*.old
*.orig

############################
# ARCHIVOS TEMPORALES
############################
*.log
*.cache
*.pid
base1.jpg
C0DA-3/TEASER CODA 3.mov
CODA3 Tease.drp
garras.jpg
lobby.jpg
mainmenu.jpg
MECANICA1.jpg
mecanica2.jpg
MECANICA3.jpg
MECANICA4.jpg
MECANICA5.jpg
portada.jpg
TEASER CODA 3.mp4
TEASER CODA 3_old.mp4
TEASER CODA3/2026-05-23 19-07-00.mov
TEASER CODA3/2026-05-23 19-07-24.mov
TEASER CODA3/2026-05-23 19-08-40.mov
TEASER CODA3/2026-05-23 19-09-01.mov
TEASER CODA3/2026-05-23 19-10-22.mov
TEASER CODA3/2026-05-23 19-13-32.mov
TEASER CODA3/2026-05-23 19-14-17.mov
TEASER CODA3/2026-05-23 22-51-31.mov
